{% extends 'base.html' %}

{% block title %}Catalog{% endblock %}

{% block content %}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="sec-1952" data-image-width="1280" data-image-height="853">
<div class="u-clearfix u-sheet u-sheet-1">
  <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-hover-feature u-image u-list-item u-radius-38 u-repeater-item u-shading u-image-1" data-image-width="1280" data-image-height="853">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <div class="u-container-align-center u-container-style u-group u-shape-rectangle u-group-2">
                <div class="u-container-layout u-valign-middle-xl u-container-layout-3">
                  <h3 class="u-align-center u-text u-text-palette-3-base u-text-1"> Counter-Strike:<br>&nbsp;Global&nbsp;Offensive<br>
                  </h3>
                </div>
              </div>
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-xl u-group u-shape-rectangle u-group-3">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-top-md u-container-layout-4">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-white u-text-2">19.99$<br>
                  </h3>
                  <a href="https://nicepage.com/k/quiz-html-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-1">Buy<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-image u-list-item u-radius-38 u-repeater-item u-shading u-image-2" data-image-width="1280" data-image-height="853">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-group u-shape-rectangle u-group-4">
                <div class="u-container-layout u-valign-middle-xl u-container-layout-6">
                  <h3 class="u-align-center u-text u-text-palette-3-base u-text-3"> PLAYERUNKNOWN’S<br>&nbsp;BATTLEGROUNDS<br>
                  </h3>
                </div>
              </div>
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-xl u-group u-shape-rectangle u-group-5">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-top-md u-container-layout-7">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-white u-text-4">19.99$<br>
                  </h3>
                  <a href="https://nicepage.com/k/quiz-html-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-2">Buy<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-image u-list-item u-radius-38 u-repeater-item u-shading u-image-3" data-image-width="1280" data-image-height="853">
            <div class="u-container-layout u-similar-container u-container-layout-8">
              <div class="u-container-style u-group u-shape-rectangle u-group-6">
                <div class="u-container-layout u-valign-middle-xl u-container-layout-9">
                  <h3 class="u-align-center u-text u-text-palette-3-base u-text-5">GTA V</h3>
                </div>
              </div>
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-xl u-group u-shape-rectangle u-group-7">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-top-md u-container-layout-10">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-white u-text-6">19.99$<br>
                  </h3>
                  <a href="https://nicepage.com/k/quiz-html-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-3">Buy<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-image u-list-item u-radius-38 u-repeater-item u-shading u-image-4" data-image-width="1280" data-image-height="853">
            <div class="u-container-layout u-similar-container u-container-layout-11">
              <div class="u-container-align-center u-container-style u-group u-shape-rectangle u-group-8">
                <div class="u-container-layout u-valign-middle-xl u-container-layout-12">
                  <h3 class="u-align-center u-text u-text-palette-3-base u-text-7"> Counter-Strike:<br>&nbsp;Global&nbsp;Offensive<br>
                  </h3>
                </div>
              </div>
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-xl u-group u-shape-rectangle u-group-9">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-top-md u-container-layout-13">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-white u-text-8">19.99$<br>
                  </h3>
                  <a href="https://nicepage.com/k/quiz-html-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-4">Buy<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-image u-list-item u-radius-38 u-repeater-item u-shading u-image-5" data-image-width="1280" data-image-height="853">
            <div class="u-container-layout u-similar-container u-container-layout-14">
              <div class="u-container-align-center u-container-style u-group u-shape-rectangle u-group-10">
                <div class="u-container-layout u-valign-middle-xl u-container-layout-15">
                  <h3 class="u-align-center u-text u-text-palette-3-base u-text-9"> Counter-Strike:<br>&nbsp;Global&nbsp;Offensive<br>
                  </h3>
                </div>
              </div>
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-xl u-group u-shape-rectangle u-group-11">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-top-md u-container-layout-16">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-white u-text-10">19.99$<br>
                  </h3>
                  <a href="https://nicepage.com/k/quiz-html-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-5">Buy<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-container-style u-hover-feature u-image u-list-item u-radius-38 u-repeater-item u-shading u-image-6" data-image-width="1280" data-image-height="853">
            <div class="u-container-layout u-similar-container u-container-layout-17">
              <div class="u-container-align-center u-container-style u-group u-shape-rectangle u-group-12">
                <div class="u-container-layout u-valign-middle-xl u-container-layout-18">
                  <h3 class="u-align-center u-text u-text-palette-3-base u-text-11"> Counter-Strike:<br>&nbsp;Global&nbsp;Offensive<br>
                  </h3>
                </div>
              </div>
              <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-expanded-width-xl u-group u-shape-rectangle u-group-13">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-top-md u-container-layout-19">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-white u-text-12">19.99$<br>
                  </h3>
                  <a href="https://nicepage.com/k/quiz-html-templates" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-6">Buy<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}