{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<section class="u-clearfix u-grey-90 current-section u-block-4966-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-dd98" data-source="Blank" data-id="4966" style="background-image: none">
  <div class="u-clearfix u-sheet u-valign-middle u-block-4966-2" style="min-height: 124px;" data-block-type="Sheet"><div class="u-group u-container-style u-block-control u-grey-90 u-block-4966-4" data-block="1132" style="width: 1098.47px; min-height: 82.9688px; height: auto; margin: 21px auto 20.9999px;" data-block-type="Group" data-move-into-group-dialog-shown="true">
    <div class="u-container-layout u-block-4966-5" data-container-layout-dom="287" style="padding-left: 0px; padding-right: 0px" data-block-type=""><div class="u-list u-block-control u-expanded-width u-block-4966-6" style="margin-top: 0px; margin-bottom: 0px" data-block="1141" data-block-type="List">
    <div class="u-repeater u-block-control u-block-4966-7" style="grid-gap: 10px 10px; grid-auto-columns: calc(16.6667% - 8.33333px); grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px); min-height: 82.981px" data-block="1142" data-block-type="List">
    {% for category in categories %}
    <div class="u-container-style u-list-item u-repeater-item u-block-control u-block-4966-8" data-block="1143" data-block-type="ListItem" style="">
      <div class="u-container-layout u-similar-container u-block-4966-9" style="padding-top: 10px; padding-bottom: 10px; padding-left: 4.422px; padding-right: 4.422px" data-container-layout-dom="294" data-block-type="">
        <a href="{% url 'category' category.slug %}" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-block-control u-block-4966-28" style="border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; background-image: none; box-shadow: 0px 0px 18px 0px rgba(var(--palette-3-base-r),var(--palette-3-base-g),var(--palette-3-base-b),0.65); margin: 13.4846px auto 0px; padding: 7px 30px;" data-block="1212" data-block-type="Button">{{ category.title }}</a>
      </div>
    </div>
    {% endfor %}
</div></div>
</div></div>
</section>
{% include 'show_products.html' %}
{% endblock %}