{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/product.css' %}">

<section class="u-align-center u-clearfix u-image u-parallax u-shading u-section-1" id="sec-16c5" data-image-width="1280" data-image-height="853">
  <div class="u-clearfix u-sheet u-valign-middle u-block-5cc5-2" style="min-height: 560px">

  <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-block-control u-block-5cc5-3" style="margin-top: 51px; margin-bottom: 51px" data-layout-wrap-id="9" data-block="1326">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-29 u-block-control ui-draggable ui-droppable u-block-5cc5-4" style="min-height: 458px" data-cell-id="17" data-column-id="17" data-block="1327">
            <div class="u-container-layout u-block-5cc5-5" style="padding-top: 16px; padding-bottom: 16px; padding-left: 0; padding-right: 0" data-container-layout-dom="347">

            <img class="u-border-3 u-border-palette-3-light-1 u-image u-image-round u-radius-35 u-block-control u-block-5cc5-12" src="{{ product.image.url }}" data-image-width="460" data-image-height="215" data-brightness="" style="width: 512px; height: 288px; box-shadow: 0px 0px 19px 11px rgba(var(--palette-3-light-1-r),var(--palette-3-light-1-g),var(--palette-3-light-1-b),0.3); margin-top: 56px; margin-left: -1px; margin-right: -1px; margin-bottom: 0" data-block="1328" data-block-type="Image"></div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-31 u-block-control ui-draggable ui-droppable u-block-5cc5-7" style="min-height: 458px" data-cell-id="18" data-column-id="18" data-block="1329">
            <div class="u-container-layout u-valign-middle u-block-5cc5-8" style="padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px" data-container-layout-dom="348">
            <h3 class="u-align-center u-text u-text-palette-3-base u-block-control u-block-5cc5-14" style="text-shadow: 0px 0px 40px rgba(var(--palette-3-base-r),var(--palette-3-base-g),var(--palette-3-base-b),0.85); font-size: 1.5rem; font-weight: 900; text-transform: uppercase; background-image: none; margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0" data-block="1330">{{ product.title }}</h3>
              <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-white u-block-control u-block-5cc5-15" style="font-size: 1.25rem; text-transform: uppercase; text-shadow: 0px 0px 23px rgba(var(--white-r),var(--white-g),var(--white-b),0.7); margin-top: 29px; margin-left: 0; margin-right: 0; margin-bottom: 0" data-block="1331" data-block-type="Text">{{ product.description }}</h3>
              <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-palette-3-light-1 u-block-control u-block-5cc5-31" style="font-size: 1.25rem; text-transform: uppercase; text-shadow: 0px 0px 16px rgba(var(--white-r),var(--white-g),var(--white-b),0.9); margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0" data-block="1332" data-block-type="Text">{% if product.price == 0 %}Free{% else %}{{ product.price }}${% endif %}
              </h3><a href="#" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-dark-1 u-palette-3-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-block-control u-block-5cc5-13" style="border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; background-image: none; box-shadow: 0px 0px 34px 0px rgba(var(--palette-3-base-r),var(--palette-3-base-g),var(--palette-3-base-b),0.75); margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 0; padding-top: 7px; padding-bottom: 7px; padding-left: 30px; padding-right: 30px" data-block="1333">add to cart<br></a></div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
{% endblock%}