
  @media (max-width: 0px) { .u-block-7bdf-1 {background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.7), rgba(var(--black-r),var(--black-g),var(--black-b),0.7)), url("/508eb228969f2/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg"); background-position: 50% 50%}
.u-block-7bdf-2 {min-height: 953px}
.u-block-7bdf-3 {height: 415px; width: 545.781px; margin-top: 100px; margin-left: auto; margin-right: auto; margin-bottom: 60px}
.u-block-7bdf-17 {margin-left: 0px}
.u-block-7bdf-16 {font-weight: 700}
.u-block-7bdf-5 {font-weight: 700}
.u-block-7bdf-8 {font-weight: 700}
.u-block-7bdf-19 {margin-left: 0px}
.u-block-7bdf-15 {font-weight: 700}
.u-block-7bdf-21 {margin-left: 0px}
.u-block-7bdf-22 {font-weight: 700}
.u-block-7bdf-23 {margin-left: 0px}
.u-block-7bdf-24 {font-weight: 700}
.u-block-7bdf-14 {letter-spacing: 1px; border-style: none; font-weight: 700; text-transform: uppercase; background-image: none} }
  @media (max-width: 0px) { .u-block-7bdf-1 {background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.7), rgba(var(--black-r),var(--black-g),var(--black-b),0.7)), url("/508eb228969f2/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg"); background-position: 50% 50%}
.u-block-7bdf-2 {min-height: 786px}
.u-block-7bdf-3 {height: 415px; width: 546px; margin-top: 100px; margin-bottom: 60px; margin-left: auto; margin-right: auto}
.u-block-7bdf-17 {margin-left: 0px}
.u-block-7bdf-16 {font-weight: 700}
.u-block-7bdf-5 {font-weight: 700}
.u-block-7bdf-8 {font-weight: 700}
.u-block-7bdf-19 {margin-left: 0px}
.u-block-7bdf-15 {font-weight: 700}
.u-block-7bdf-21 {margin-left: 0px}
.u-block-7bdf-22 {font-weight: 700}
.u-block-7bdf-23 {margin-left: 0px}
.u-block-7bdf-24 {font-weight: 700}
.u-block-7bdf-14 {background-image: none; letter-spacing: 1px; border-style: none; font-weight: 700; text-transform: uppercase} }
  @media (max-width: 0px) { .u-block-7bdf-1 {background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.7), rgba(var(--black-r),var(--black-g),var(--black-b),0.7)), url("/508eb228969f2/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg"); background-position: 50% 50%}
.u-block-7bdf-2 {min-height: 602px}
.u-block-7bdf-3 {height: 415px; width: 546px; margin-top: 100px; margin-bottom: 60px; margin-left: auto; margin-right: auto}
.u-block-7bdf-17 {margin-left: 0px}
.u-block-7bdf-16 {font-weight: 700}
.u-block-7bdf-5 {font-weight: 700}
.u-block-7bdf-8 {font-weight: 700}
.u-block-7bdf-19 {margin-left: 0px}
.u-block-7bdf-15 {font-weight: 700}
.u-block-7bdf-21 {margin-left: 0px}
.u-block-7bdf-22 {font-weight: 700}
.u-block-7bdf-23 {margin-left: 0px}
.u-block-7bdf-24 {font-weight: 700}
.u-block-7bdf-14 {background-image: none; letter-spacing: 1px; border-style: none; font-weight: 700; text-transform: uppercase} }
@media (max-width: 0px) { .u-block-7bdf-1 {background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.7), rgba(var(--black-r),var(--black-g),var(--black-b),0.7)), url("/508eb228969f2/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg"); background-position: 50% 50%}
.u-block-7bdf-2 {min-height: 452px}
.u-block-7bdf-3 {height: 415px; width: 540px; margin-top: 100px; margin-bottom: 60px; margin-left: auto; margin-right: auto}
.u-block-7bdf-17 {margin-left: 0px}
.u-block-7bdf-16 {font-weight: 700}
.u-block-7bdf-5 {font-weight: 700}
.u-block-7bdf-8 {font-weight: 700}
.u-block-7bdf-19 {margin-left: 0px}
.u-block-7bdf-15 {font-weight: 700}
.u-block-7bdf-21 {margin-left: 0px}
.u-block-7bdf-22 {font-weight: 700}
.u-block-7bdf-23 {margin-left: 0px}
.u-block-7bdf-24 {font-weight: 700}
.u-block-7bdf-14 {background-image: none; letter-spacing: 1px; border-style: none; font-weight: 700; text-transform: uppercase} }
@media (max-width: 0px) { .u-block-7bdf-1 {background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.7), rgba(var(--black-r),var(--black-g),var(--black-b),0.7)), url("/508eb228969f2/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg"); background-position: 50% 50%}
.u-block-7bdf-2 {min-height: 285px}
.u-block-7bdf-3 {height: 415px; width: 340px; margin-top: 100px; margin-bottom: 60px; margin-left: auto; margin-right: auto}
.u-block-7bdf-17 {margin-left: 0px}
.u-block-7bdf-16 {font-weight: 700}
.u-block-7bdf-5 {font-weight: 700}
.u-block-7bdf-8 {font-weight: 700}
.u-block-7bdf-19 {margin-left: 0px}
.u-block-7bdf-15 {font-weight: 700}
.u-block-7bdf-21 {margin-left: 0px}
.u-block-7bdf-22 {font-weight: 700}
.u-block-7bdf-23 {margin-left: 0px}
.u-block-7bdf-24 {font-weight: 700}
.u-block-7bdf-14 {background-image: none; letter-spacing: 1px; border-style: none; font-weight: 700; text-transform: uppercase} }
.u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]), .u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]):before, .u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position
}
.u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: var(--palette-2-base) !important
}
.u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]):hover {
    transform: rotate(0deg) scale(1.04) !important;
    box-shadow: 0px 0px 9px 4px rgba(var(--black-r),var(--black-g),var(--black-b),0.7) !important
}
.u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]):before {
    background-image: url(../../media/images/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg) !important
}
.u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]).hover {
    transform: rotate(0deg) scale(1.04) !important;
    box-shadow: 0px 0px 9px 4px rgba(var(--black-r),var(--black-g),var(--black-b),0.7) !important
}
.u-container-layout:hover .u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-container-layout.hover .u-block-7bdf-61:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]), .u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]):before, .u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position
}
.u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: var(--palette-2-base) !important
}
.u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]):hover {
    transform: rotate(0deg) scale(1.04) !important;
    box-shadow: 0px 0px 9px 4px rgba(var(--black-r),var(--black-g),var(--black-b),0.7) !important
}
.u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]):before {
    background-image: url(../../media/images/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg) !important
}
.u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]).hover {
    transform: rotate(0deg) scale(1.04) !important;
    box-shadow: 0px 0px 9px 4px rgba(var(--black-r),var(--black-g),var(--black-b),0.7) !important
}
.u-container-layout:hover .u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-container-layout.hover .u-block-7bdf-70:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]), .u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]):before, .u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position
}
.u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: var(--palette-2-base) !important
}
.u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]):hover {
    transform: rotate(0deg) scale(1.04) !important;
    box-shadow: 0px 0px 9px 4px rgba(var(--black-r),var(--black-g),var(--black-b),0.7) !important
}
.u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]):before {
    background-image: url(../../media/images/ad0c187382fd6b8fef48aa8200827fa44f1abde5447831a98b0d130fb4b89687c64b636c27f0509fa838909cab9aff3391e65f15b5b6a137783bf6_1280.jpg) !important
}
.u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]).u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]).hover {
    transform: rotate(0deg) scale(1.04) !important;
    box-shadow: 0px 0px 9px 4px rgba(var(--black-r),var(--black-g),var(--black-b),0.7) !important
}
.u-container-layout:hover .u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}
.u-container-layout.hover .u-block-7bdf-79:not([data-block-selected]):not([data-cell-selected]) {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important
}